.input {
	padding: 7px 15px;
	color: var(--black);
	border: none;
	outline: var(--primary);
	background: var(--white);
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
	border-radius: 5px;
	font-size: 16px;
	line-height: 22px;
	font-family: var(--font-family);
}

.input::placeholder {
	color: var(--gray);
}

.inputWrapper {
	position: relative;
}

.error {
	border: 1px solid var(--red);
}

.errorMsg {
	position: absolute;
	bottom: -20px;
	left: 0;
	color: var(--red);
}
